.navbar-brand{
    font-family: 'Atma';
    font-size: 2rem;
}

.shop-now-btn{
    padding-bottom: 20px;
}

.about-section{
    background-color: rgb(167, 226, 250);
}

.navbar{
    background-color: rgb(167, 226, 250);
}


.footer{
    background-color: rgb(167, 226, 250);
    height: 25px;
}





body {
    font-family: 'Atma';
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.cart-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.cart-popup {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    padding: 20px;
}
.cart-popup.open {
    right: 0;
}
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-items {
    list-style-type: none;
    padding: 0;
}
.cart-items li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.cart-total {
    font-weight: bold;
    margin-top: 10px;
}
.close-cart {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
}




/*--------------Fonts--------------*/
@font-face {
    font-family: 'Cedarville Cursive';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cedarvillecursive/v17/yYL00g_a2veiudhUmxjo5VKkoqA-B_nuIrpw4cNOTw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'League Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/leaguescript/v28/CSR54zpSlumSWj9CGVsoBZdeWNReuc4nG2o.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Atma';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/atma/v16/uK_z4rqWc-Eoo8JzGjA3P9WeVkI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
